*{
    margin: 0;
}

body{
    background: #172B4D;
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;    
}

.login-card{
    background: white;
    width: 420px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.login-btn{
    border: 1px dashed #172B4D;
    background: transparent;
    outline: none;
    padding: 7px;
    width: 100%;
    font-size: 20px;
}

.login-btn:hover {
    transition: all 0.3s;
    background: #172B4D;
    color: white;
}